.tech-stack {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 13rem;
  padding: 0 3rem;
}

.awesome > h2 {
  color: var(--black);
  font-size: 2.5rem;
}

.cards {
  display: flex;
  justify-content: space-between;
}

/* blur */
.blur-stack1 {
  top: 8rem;
  left: 50%;
}

.blur-stack2 {
  top: 13rem;
  left: -9rem;
  width: 21rem;
  height: 26rem;
}

@media screen and (max-width: 480px) {
  .tech-stack {
    flex-direction: column;
    gap: 5rem;
    margin-top: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
