.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.navbar__left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__name {
  font-size: 1.5rem;
}

.navbar__right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__menus {
  flex: 10;
}

.navbar__menus > ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.navbar__menus > ul li:hover {
  color: var(--orange);
}

.navbar__btn__contact {
  flex: 2;
}

@media screen and (max-width: 480px) {
  .navbar__menus > ul {
    display: none;
  }

  .navbar__btn__contact {
    display: none;
  }
}
