.footer {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 -3.5rem;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin-top: 10rem;
  width: 100%;
  color: white;
}

.footer__icons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.icon__github {
  font-size: 2rem;
}

.icon__velog {
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 0;
    background: var(--orange);
  }

  .footer > img {
    display: none;
  }

  .footer__content {
    gap: 1rem;
    position: static;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}
